language: swift
osx_image: xcode9.3
xcode_workspace: MyEverest.xcworkspace
xcode_scheme: MyEverest
xcode_sdk: iphonesimulator11.3

notifications:
  email: false
  webhooks: https://fathomless-fjord-24024.herokuapp.com/notify

env:
  global:
  - WORKSPACE=MyEverest.xcworkspace
  - SCHEME=MyEverest
  - SERVICE_NAME=travis-ci

install:
- gem install bundler
- bundle install
- bundle exec pod install --repo-update

script:
- xcodebuild clean build -workspace $WORKSPACE -scheme $SCHEME | xcpretty
- xcodebuild test -workspace $WORKSPACE -scheme $SCHEME -destination 'name=iPhone
  X' -enableCodeCoverage YES | xcpretty

after_success:
- xcov -w $WORKSPACE -s $SCHEME -o coverage --only_project_targets --coveralls_service_name
  $SERVICE_NAME --coveralls_service_job_id $TRAVIS_JOB_ID

#xcov -w MyEverest.xcworkspace -s MyEverest -o coverage --only_project_targets